* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar {
    background-color: #07553B;
}

.text-head {
    text-align: center;
    color: rgb(253, 253, 253);
}

.formula1 {
    margin: 0 1rem;
 
    background-color: rgb(255, 255, 255);
    
}

.formula2 {
    margin: 0 1rem;
    
}

.formula2 {
  
    background-color: rgb(255, 255, 255);

}

.list {
    padding: 15px;
}

.background {
    background-color: #ffffff;
}

.method {

}

.ingredient {}
/* 
git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Camille061/hotpital.git
git push -u origin main */